[Unit]
Description=Start MISO API REST for test
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
ExecStart= /usr/local/bin/docker-compose -f /home/ubuntu/miso-cipher-lab/docker-compose.yaml start

[Install]
WantedBy=multi-user.target